/* Global CSS */
body {
    font-family: $montserrat;
    font-size: 14px;
    color: $default;
}

h1 {
    font-size: 46px;
    font-weight: 900;
}

h2 {
    font-size: 40px;
    font-weight: 900;
}

h3 {
    font-weight: 100;
    font-size: 30px;
    line-height: 45px;
}

h4 {
    font-size: 35px;
    line-height: 38px;
    font-family: $leckerli;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

.white-text {
    color: $default;
}
.black-text {
    color: $black-text;
}
.gray-text {
    color: $gray-text;
}
.silver-text {
    color: $silver-text;
}
.yellow-text {
    color: $yellow-text;
}
.blue-text {
    color: $blue-text;
}
.desc {
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.6px;
}

.navbar-light{
    .navbar-toggler{
        border: 2px solid $default;
    }
}

.btn {
    font-size: 13px;
    font-weight: 700;
}
.btn-dark {
    @extend .btn;

    border: none;
    border-radius: 50px;
    padding: 3px 35px;
    margin-top: 5px;
    line-height: 50px;
    background-color: $bg-black;
}
.btn-primary {
    border: none;
    border-radius: 50px;
    padding: 0px 50px;
    margin-top: 5px;
    line-height: 50px;
    background-color: $bg-blue-old;
    box-shadow: 0px 10px 30px 0px rgba(22, 92, 254, 0.24);
}
.btn-warning {
    border: none;
    border-radius: 50px;
    padding: 0px 35px;
    line-height: 50px;
    background-color: $bg-yellow-young;
}
.btn-outline-warning {
    @extend .btn;

    border: 2px solid $bg-yellow-old;
    border-radius: 25px;
    padding: 10px 40px;
    color: $bg-yellow-old;
    box-shadow: 0px 10px 30px 0px rgba(254, 200, 22, 0.2);
}

.fa:hover {
    color: $default;
}

a:hover {
    text-decoration: none;
}

.highlight {
    background-color: rgba(37, 37, 37, 0.6);
    height: 100%;
}
/* Style CSS */
#header {
    background-image: $bg-header;
    background-position-x: -100px;
    background-position-y: -130px;
    background-size: 2000px;
    font-family: $montserrat;
    height: 950px;

    @media screen and (max-width:767px){
        background-position-x: 1500px;
        background-position-y: 95px;
        background-size: 2000px;
    }

    @media screen and (max-width:375px){
        background-position-x: 1000px;
        background-position-y: 95px;
        background-size: 1500px;
    }
}

#top-nav {
    padding-top: 30px;

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    
        li { display: inline-block; }
        a {
            display: block;
            padding: 6px 15px;
            text-decoration: none;
            font-size: 16px;
            color: $default;
        }
        a.active { color: $active; }
        a:hover{ color: $active; }

        @media screen and (max-width:320px){
            a {
                padding: 6px 5px;
            }
        }        
    }
}

#hero-header {
    margin-top: 250px;

    @media screen and (max-width:375px){
        h3 {
            font-size: 27px;
        }
    }
}

#about-desc {
    background-color: $bg-blue-young;
    padding: 120px 0 35px;

    @media screen and (max-width:375px){
        padding: 90px 0 35px;

        .desc {
            line-height: 25px;
        }
    }

    .desc-about-1 {
        font-size: 38px;
        font-weight: 900;
        line-height: 52px;
        letter-spacing: 0.5px;

        @media screen and (max-width:767px){
            line-height: 45px;
        }

        @media screen and(max-width:375px){
            font-size: 25px;
            line-height: 35px;
        }
    }
}

#about-job {
    background-color: $bg-blue-old;
    padding: 70px 0 10px;
    
    .title-job {
        font-size: 23px;
        font-weight: 900;
        line-height: 30px;
    }

    .media img {
        width: 50px;
        height: 50px;
    }
}

#social-media {
    background-color: $bg-blue-young;
    padding: 70px 0 80px;

    @media screen and (max-width:375px){
        .desc {
            font-size: 20px;
        }
    }

    p a {
        font-size: 25px;
        margin-right: 25px;
        color: #4ba6fd;
    }

    .fa-twitter {
        color: $default;
    }
}

#head-portofolio {
    padding: 90px 0 50px;

    h4 {
        color: $silver-text;
    }

    h2 {
        color: $black-text;
    }

    button {
        @extend .btn;

        font-size: 12px;
        border: 1px solid $bg-bluesky;
        border-radius: 25px;
        background-color: $bg-bluesky;
        padding: 15px 50px;
        color: $default;
        box-shadow: 0px 10px 30px 0px rgba(22, 246, 254, 0.322);      
    }
    button:hover {
        background-color: rgb(29, 182, 169);
    }

    @media screen and (max-width:767px){
        
        h2 {
            margin-top: -20px;
            font-size: 39px;
        }

        button {
            width: 100%;
        }
    }

    @media screen and (max-width:375px){
        padding: 60px 0 40px;

        h2 {
            font-size: 26px;
            line-height: 0;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 25px;
            line-height: 20px;
            margin-bottom: 20px;          
        }

        button {
            float: left;
            width: 100%;
        }
    }
}

#gallery-portofolio {
    .no-gutters {
        overflow: hidden;
    }

    .ts-1 {
        transform: scale(1.6);
        width: 100%;
        height: 350px;
    }

    .ts-2 {
        width: 100%;
        height: 570px;
        transform: scaleX(1.7);
    }

    .ts-3 {
        width: 100%;
        height: 220px;
        transform: scale(3);
        margin-left: 90px;
    }

    .ts-4 {
        height: 350px;
        width: 100%;
        transform: scaleX(1.3) scaleY(1);
    }

    .ts-5 {
        width: 100%;
        height: 220px;
    }    

    .ts-6 {
        width: 100%;
        height: 220px;
    }

    .overlay {
        background-color: rgba(55, 64, 71, 0.8);
        padding: 50px 60px;
        opacity: 0; 
    
        .title-overlay {
            font-size: 12px;
            color: $silver-text;
        }
        .desc-overlay {
            font-size: 15px;
            font-weight: 700;
        }
        img{
            height: 20px;
            width: 20px;
        }
    }
    .overlay:hover {
        opacity: 1;
        transition: 0.3s ease;
    }
    
    .overlay-active {
        opacity: 1;
    }

    @media screen and (max-width:767px){
        .ts-1, .ts-2, .ts-3, .ts-4, .ts-5, .ts-6 {
            height: 350px;
        }

        .ts-2 {
            transform: scaleY(1.8);
        }
        .ts-4 {
            transform: scaleY(1.3);
        }
    }

    @media screen and (max-width:375px){
        .ts-1, .ts-2, .ts-3, .ts-4, .ts-5, .ts-6 {
            height: 250px;
        }

        .ts-2{
            transform: scaleY(1.5);
        }

        .ts-4 {
            transform: scaleY(1.3);
        }
    }
}

#client {
    background-image: $bg-client;
    background-repeat: no-repeat;
    background-position-x: -1500px;
    background-position-y: -800px;

    .highlight {
        padding: 200px 0px;
        background-color: rgba(37, 37, 37, 0.767);
    }

    .brand {
        margin-top: 100px;

        img {
            width: 70%;
        }
    }

    .testimonials p{
        font-family: $coustard;
        font-size: 20px;
        margin: 0 20%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: auto;
    }

    span img {
        height: 25px;
    }

    .client-pic {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
        object-position: center;
    }

    .client-name {
        font-weight: 700;
        font-size: 13px;
    }

    .client-job {
        color: $silver-text;
    }

    @media screen and (max-width:375px){
        .highlight{
            padding: 100px 0;
        }
    }

    @media screen and (max-width:375px){
        .highlight{
            padding: 50px 0;
        }

        h2 {
            font-size: 27px;
        }

        h4 {
            font-size: 30px;
        }

        .brand {
            margin-top: 50px;
        }
    }

}

#blog {
    padding: 150px 0 100px;

    
    h2 {
        line-height: 50px;
    }
    h3 {
        font-weight: 900;
    }
    h5 {
        font-weight: 900;
    }
    h6 {
        font-weight: 700;
    }

    blockquote {
        font-family: $coustard;
        font-size: 25px;
        padding: 10px 70px;
    }
    .quote {
        background-color: $bg-blue-old;
    }
    .desc {
        font-size: 20px;
    }
    
    .gallery-post {
        .carousel-caption {
            bottom: auto;
            top: 100px;
            padding: 0;
            text-align: left;
        }

        .carousel-item {
            img {
                height: 497px;
            }
        }

        .carousel-indicators {
            right: auto;
            bottom: 40px;
        }

        .carousel-indicators li {
            padding: 3px;
            width: 25px;
            border-radius: 10px;
        }

        p {
            line-height: 30px;
            font-size: 16px;
            letter-spacing: 0.5px;
            padding: 0px 35px 0px 0px;
        }

        @media screen and (max-width:375px){
            img {
                height: auto;
            }
            .carousel-caption {
                top: 70px;

                p {
                    line-height: 25px;
                    font-size: 17px;
                }
            }
            .btn-warning {
                padding: 0 25px;
                line-height: 40px;
                margin-top: 20px;
            }

            h3 {
                font-size: 28px;
                line-height: 35px;
            }
        }
    }
    .standard-post {
        height: 100%;
        padding: 50px;
    }
    .highlight-video-post {
        background-color: rgba(37, 37, 37, 0.6);
        padding: 50px;
        margin: 0px 15px;
        
        img:first-child {
            transform: scaleX(-1);
        }
    }
    .without-img {
        padding: 50px;
        height: 100%;
        box-shadow: 0px 0px 100px 100px rgba(168, 160, 160, 0.2);

        p {
            line-height: 25px;
            font-size: 15px;
        }
    }
    .view-all {
        background-color: $bg-pink;
        height: 100%;

        p {
            font-size: 15px;
            font-weight: 700;
        }
    }

    @media screen and (max-width:767px){
        blockquote {
            padding: 10px 0;
        }
    }

    @media screen and (max-width:375px){
        padding: 100px 0 70px;

        h2 {
            line-height: 30px;
            font-size: 25px;
        }

        h4 {
            font-size: 30px;
        }

        .desc {
            font-size: 16px;
            line-height: 20px;
        }

        blockquote {
            padding: 10px 0;
            font-size: 20px;
        }
    }
}

#contact {
    background-image: $bg-contact;
    background-position-x: -550px;
    background-position-y: -210px;
    background-size: 2800px;

    .highlight {
        padding: 150px 0px;
        background-color: rgba(37, 37, 37, 0.8);
    }

    p {
        font-size: 18px;
        margin-top: -15px;
    }

    .fa {
        color: $gray-text;
        font-size: 13px;
        padding-right: 18px;
    }
    .fa:hover {
        color: $default;
    }

    .fa-twitter {
        color: $silver-text;
    }

    input,textarea {
        color: $gray-text;
        font-size: 14px;
        line-height: 20px;
        border-width: 2px;
        border-radius: 25px;
        border-style: solid;
        border-color: #353535;
        background-color: $black-text;
        transition: all 300ms;
        padding: 10px 30px;
        font-weight: bold;
        width: 100%;
    }
    input:hover, textarea:hover {
        color: $default;
        background-color: $black-text;
        border-color: $active;
        border-radius: 25px;
    }

    textarea {
        width: 100%;
        padding: 20px 35px;
    }

    @media screen and (max-width:375px){
        .highlight {
            padding: 100px 0;
        }
    }
}

#founder {
    background-color: rgba(37, 37, 37, 0.97);
    padding: 50px 0px 0px;

    p {
        margin: 0;
        font-size: 15px;
        width: 100%;
    }
    a:hover, 
    .fa:hover {
        color: $default;
    }
}